<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="" placeholder="Digite o seu email aqui">
        </div>
        
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="" placeholder="Digite o seu email aqui">
        </div>

        <input type="submit" value="Entrar">
        <p>Não tem conta? <a href="/register">Clique aqui?</a></p>

    </form>
</div>